<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
  Weekly refresh of the Letterboxd/Goodreads CSVs behind /books and /movies.
  Install:
    cp ops/launchd/xyz.lscaturchio.refresh-media-data.plist ~/Library/LaunchAgents/
    launchctl bootstrap gui/$(id -u) ~/Library/LaunchAgents/xyz.lscaturchio.refresh-media-data.plist
  Logs: ~/Library/Logs/lscaturchio-refresh-media-data.log
-->
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>xyz.lscaturchio.refresh-media-data</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/natalyscaturchio/code/lscaturchio.xyz/scripts/refresh-books-movies.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>1</integer>
    <key>Hour</key>
    <integer>9</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/natalyscaturchio/Library/Logs/lscaturchio-refresh-media-data.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/natalyscaturchio/Library/Logs/lscaturchio-refresh-media-data.log</string>
</dict>
</plist>
