{
  "openapi": "3.0.3",
  "info": {
    "title": "Lorenzo Scaturchio Blog API",
    "description": "Public API for accessing blog posts and site statistics from lscaturchio.xyz. This API provides read-only access to blog content with pagination, filtering, and semantic search support.",
    "version": "1.0.0",
    "contact": {
      "name": "Lorenzo Scaturchio",
      "url": "https://lscaturchio.xyz",
      "email": "lorenzo@lscaturchio.xyz"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://lscaturchio.xyz",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "paths": {
    "/api/v1/blogs": {
      "get": {
        "summary": "List blog posts",
        "description": "Retrieve a paginated list of blog posts, optionally filtered by tag. Posts are sorted by date (newest first).",
        "operationId": "listBlogs",
        "tags": ["Blogs"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of blog posts to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "example": 10
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of blog posts to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000,
              "default": 0
            },
            "example": 0
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter posts by tag (exact match, case-sensitive)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "AI"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with paginated blog posts",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogListResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Default response with blog posts",
                    "value": {
                      "data": [
                        {
                          "title": "Building RAG Systems with OpenAI",
                          "description": "A deep dive into retrieval-augmented generation and semantic search",
                          "date": "2024-01-15",
                          "slug": "building-rag-systems",
                          "tags": ["AI", "OpenAI", "RAG"],
                          "image": "/images/blog/rag-systems.webp",
                          "url": "https://lscaturchio.xyz/blog/building-rag-systems"
                        },
                        {
                          "title": "Privacy in the Age of AI",
                          "description": "Exploring the intersection of artificial intelligence and personal privacy",
                          "date": "2024-01-10",
                          "slug": "privacy-in-age-of-ai",
                          "tags": ["AI", "Privacy", "Technology"],
                          "image": "/images/blog/privacy-ai.webp",
                          "url": "https://lscaturchio.xyz/blog/privacy-in-age-of-ai"
                        }
                      ],
                      "meta": {
                        "total": 15,
                        "limit": 10,
                        "offset": 0,
                        "hasMore": true
                      }
                    }
                  },
                  "filtered": {
                    "summary": "Response filtered by tag",
                    "value": {
                      "data": [
                        {
                          "title": "Building RAG Systems with OpenAI",
                          "description": "A deep dive into retrieval-augmented generation and semantic search",
                          "date": "2024-01-15",
                          "slug": "building-rag-systems",
                          "tags": ["AI", "OpenAI", "RAG"],
                          "image": "/images/blog/rag-systems.webp",
                          "url": "https://lscaturchio.xyz/blog/building-rag-systems"
                        }
                      ],
                      "meta": {
                        "total": 5,
                        "limit": 10,
                        "offset": 0,
                        "hasMore": false
                      }
                    }
                  },
                  "empty": {
                    "summary": "No matching posts found",
                    "value": {
                      "data": [],
                      "meta": {
                        "total": 0,
                        "limit": 10,
                        "offset": 0,
                        "hasMore": false
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/blogs/{slug}": {
      "get": {
        "summary": "Get a blog post by slug",
        "description": "Retrieve a single blog post by its URL slug.",
        "operationId": "getBlogBySlug",
        "tags": ["Blogs"],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "URL-friendly identifier for the blog post",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]+$"
            },
            "example": "building-rag-systems"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with blog post",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogResponse"
                },
                "example": {
                  "data": {
                    "title": "Building RAG Systems with OpenAI",
                    "description": "A deep dive into retrieval-augmented generation and semantic search",
                    "date": "2024-01-15",
                    "slug": "building-rag-systems",
                    "tags": ["AI", "OpenAI", "RAG"],
                    "image": "/images/blog/rag-systems.webp",
                    "url": "https://lscaturchio.xyz/blog/building-rag-systems"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Blog post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Blog post not found"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/stats": {
      "get": {
        "summary": "Get site statistics",
        "description": "Retrieve site statistics including total post count, tag counts, and the latest post.",
        "operationId": "getStats",
        "tags": ["Statistics"],
        "responses": {
          "200": {
            "description": "Successful response with site statistics",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                },
                "example": {
                  "data": {
                    "totalPosts": 14,
                    "totalTags": 23,
                    "popularTags": [
                      { "tag": "AI", "count": 5 },
                      { "tag": "Technology", "count": 4 },
                      { "tag": "Privacy", "count": 3 }
                    ],
                    "latestPost": {
                      "title": "Building RAG Systems with OpenAI",
                      "description": "A deep dive into retrieval-augmented generation",
                      "date": "2024-01-15",
                      "slug": "building-rag-systems",
                      "tags": ["AI", "OpenAI", "RAG"],
                      "image": "/images/blog/rag-systems.webp"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/search": {
      "get": {
        "summary": "Semantic search",
        "description": "Perform semantic search across blog posts using AI embeddings. Returns results ranked by relevance.",
        "operationId": "searchGet",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query (max 500 characters)",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 500
            },
            "example": "machine learning"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search results",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit-Search"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "example": {
                  "query": "machine learning",
                  "results": [
                    {
                      "title": "Building RAG Systems with OpenAI",
                      "url": "/blog/building-rag-systems",
                      "description": "A deep dive into retrieval-augmented generation",
                      "date": "2024-01-15",
                      "similarity": 0.87,
                      "snippets": ["Machine learning models can be enhanced with..."]
                    }
                  ],
                  "count": 5
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing_query": {
                    "summary": "Missing search query",
                    "value": {
                      "error": "Search query is required"
                    }
                  },
                  "query_too_long": {
                    "summary": "Query exceeds maximum length",
                    "value": {
                      "error": "Search query too long (max 500 characters)"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedSearch"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "summary": "Semantic search (POST)",
        "description": "Alternative POST endpoint for semantic search. Returns results in a slightly different format optimized for programmatic use.",
        "operationId": "searchPost",
        "tags": ["Search"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "description": "Search query"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10,
                    "description": "Maximum number of results"
                  }
                }
              },
              "example": {
                "query": "machine learning",
                "limit": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search results",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit-Search"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchPostResponse"
                },
                "example": {
                  "query": "machine learning",
                  "results": [
                    {
                      "slug": "building-rag-systems",
                      "title": "Building RAG Systems with OpenAI",
                      "description": "A deep dive into retrieval-augmented generation",
                      "date": "2024-01-15",
                      "tags": ["AI", "OpenAI", "RAG"],
                      "relevance": 0.87
                    }
                  ],
                  "count": 5
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedSearch"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Maximum number of requests allowed per minute (100 for standard endpoints)",
        "schema": {
          "type": "integer",
          "example": 100
        }
      },
      "X-RateLimit-Limit-Search": {
        "description": "Maximum number of requests allowed per minute for search (5 due to AI processing)",
        "schema": {
          "type": "integer",
          "example": 5
        }
      },
      "X-RateLimit-Remaining": {
        "description": "Number of requests remaining in the current window",
        "schema": {
          "type": "integer",
          "example": 99
        }
      },
      "X-RateLimit-Reset": {
        "description": "ISO 8601 timestamp when the rate limit window resets",
        "schema": {
          "type": "string",
          "format": "date-time",
          "example": "2024-01-15T10:31:00.000Z"
        }
      }
    },
    "schemas": {
      "BlogPost": {
        "type": "object",
        "description": "A blog post entry",
        "required": ["title", "description", "date", "slug", "tags", "image", "url"],
        "properties": {
          "title": {
            "type": "string",
            "description": "The title of the blog post",
            "example": "Building RAG Systems with OpenAI"
          },
          "description": {
            "type": "string",
            "description": "A brief description or excerpt of the blog post",
            "example": "A deep dive into retrieval-augmented generation and semantic search"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Publication date in YYYY-MM-DD format",
            "example": "2024-01-15"
          },
          "slug": {
            "type": "string",
            "description": "URL-friendly identifier for the blog post",
            "pattern": "^[a-z0-9-]+$",
            "example": "building-rag-systems"
          },
          "tags": {
            "type": "array",
            "description": "List of tags/categories for the blog post",
            "items": {
              "type": "string"
            },
            "example": ["AI", "OpenAI", "RAG"]
          },
          "image": {
            "type": "string",
            "description": "Path to the blog post's featured image",
            "example": "/images/blog/rag-systems.webp"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Full URL to the blog post",
            "example": "https://lscaturchio.xyz/blog/building-rag-systems"
          }
        }
      },
      "BlogPostSummary": {
        "type": "object",
        "description": "A blog post summary (without full URL)",
        "required": ["title", "description", "date", "slug", "tags", "image"],
        "properties": {
          "title": {
            "type": "string",
            "example": "Building RAG Systems with OpenAI"
          },
          "description": {
            "type": "string",
            "example": "A deep dive into retrieval-augmented generation"
          },
          "date": {
            "type": "string",
            "format": "date",
            "example": "2024-01-15"
          },
          "slug": {
            "type": "string",
            "example": "building-rag-systems"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["AI", "OpenAI", "RAG"]
          },
          "image": {
            "type": "string",
            "example": "/images/blog/rag-systems.webp"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "description": "Pagination metadata",
        "required": ["total", "limit", "offset", "hasMore"],
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of blog posts matching the query",
            "minimum": 0,
            "example": 15
          },
          "limit": {
            "type": "integer",
            "description": "Number of posts returned per page",
            "minimum": 1,
            "maximum": 100,
            "example": 10
          },
          "offset": {
            "type": "integer",
            "description": "Number of posts skipped",
            "minimum": 0,
            "example": 0
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether there are more posts available after this page",
            "example": true
          }
        }
      },
      "TagCount": {
        "type": "object",
        "description": "Tag with its usage count",
        "required": ["tag", "count"],
        "properties": {
          "tag": {
            "type": "string",
            "example": "AI"
          },
          "count": {
            "type": "integer",
            "minimum": 1,
            "example": 5
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "description": "A search result from semantic search (GET)",
        "required": ["title", "url", "description", "date", "similarity", "snippets"],
        "properties": {
          "title": {
            "type": "string",
            "example": "Building RAG Systems with OpenAI"
          },
          "url": {
            "type": "string",
            "example": "/blog/building-rag-systems"
          },
          "description": {
            "type": "string",
            "example": "A deep dive into retrieval-augmented generation"
          },
          "date": {
            "type": "string",
            "example": "2024-01-15"
          },
          "similarity": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Semantic similarity score (0-1, higher is more relevant)",
            "example": 0.87
          },
          "snippets": {
            "type": "array",
            "description": "Relevant content snippets from the blog post (max 2)",
            "items": {
              "type": "string"
            },
            "example": ["Machine learning models can be enhanced with..."]
          }
        }
      },
      "SearchResultPost": {
        "type": "object",
        "description": "A search result from semantic search (POST)",
        "required": ["slug", "title", "description", "date", "tags", "relevance"],
        "properties": {
          "slug": {
            "type": "string",
            "example": "building-rag-systems"
          },
          "title": {
            "type": "string",
            "example": "Building RAG Systems with OpenAI"
          },
          "description": {
            "type": "string",
            "example": "A deep dive into retrieval-augmented generation"
          },
          "date": {
            "type": "string",
            "example": "2024-01-15"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["AI", "OpenAI", "RAG"]
          },
          "relevance": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Semantic relevance score (0-1, higher is more relevant)",
            "example": 0.87
          }
        }
      },
      "BlogListResponse": {
        "type": "object",
        "description": "Successful response containing paginated blog posts",
        "required": ["data", "meta"],
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of blog posts",
            "items": {
              "$ref": "#/components/schemas/BlogPost"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "BlogResponse": {
        "type": "object",
        "description": "Successful response containing a single blog post",
        "required": ["data"],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BlogPost"
          }
        }
      },
      "StatsResponse": {
        "type": "object",
        "description": "Successful response containing site statistics",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "object",
            "required": ["totalPosts", "totalTags", "popularTags", "latestPost"],
            "properties": {
              "totalPosts": {
                "type": "integer",
                "description": "Total number of blog posts",
                "minimum": 0,
                "example": 14
              },
              "totalTags": {
                "type": "integer",
                "description": "Number of unique tags",
                "minimum": 0,
                "example": 23
              },
              "popularTags": {
                "type": "array",
                "description": "Top 5 most used tags",
                "items": {
                  "$ref": "#/components/schemas/TagCount"
                }
              },
              "latestPost": {
                "$ref": "#/components/schemas/BlogPostSummary"
              }
            }
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "description": "Successful search response (GET)",
        "required": ["query", "results", "count"],
        "properties": {
          "query": {
            "type": "string",
            "description": "The original search query",
            "example": "machine learning"
          },
          "results": {
            "type": "array",
            "description": "Array of search results sorted by relevance",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "count": {
            "type": "integer",
            "description": "Number of results returned",
            "minimum": 0,
            "example": 5
          }
        }
      },
      "SearchPostResponse": {
        "type": "object",
        "description": "Successful search response (POST)",
        "required": ["query", "results", "count"],
        "properties": {
          "query": {
            "type": "string",
            "description": "The original search query",
            "example": "machine learning"
          },
          "results": {
            "type": "array",
            "description": "Array of search results sorted by relevance",
            "items": {
              "$ref": "#/components/schemas/SearchResultPost"
            }
          },
          "count": {
            "type": "integer",
            "description": "Number of results returned",
            "minimum": 0,
            "example": 5
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error response",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong",
            "example": "Failed to fetch blogs"
          }
        }
      }
    },
    "responses": {
      "RateLimited": {
        "description": "Rate limit exceeded (100 requests per minute)",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "Retry-After": {
            "description": "Seconds until the rate limit resets",
            "schema": {
              "type": "integer",
              "example": 45
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Rate limit exceeded. Please try again later."
            }
          }
        }
      },
      "RateLimitedSearch": {
        "description": "Rate limit exceeded (5 requests per minute for search)",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit-Search"
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "Retry-After": {
            "description": "Seconds until the rate limit resets",
            "schema": {
              "type": "integer",
              "example": 45
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Rate limit exceeded. Please try again later."
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Failed to fetch blogs"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Blogs",
      "description": "Blog post operations"
    },
    {
      "name": "Statistics",
      "description": "Site statistics"
    },
    {
      "name": "Search",
      "description": "Semantic search powered by AI embeddings"
    }
  ],
  "externalDocs": {
    "description": "View the API documentation page",
    "url": "https://lscaturchio.xyz/api-docs"
  }
}
